.DS_Store
_site
.sass-cache
.nanorc
node_modules/
bin/

# Jekyll ignores
.jekyll-metadata
.jekyll-cache/
# to ignore jeql config with secret keys
_config.jeql.yml

# Ruby ignores
vendor/

# Capistrano ignores
config/deploy/
log/
